*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 100px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 100px;
}
.nav ul{
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 10px;
}
.nav ul li a{
    text-decoration: none;
    padding: 20px;
}
.nav ul li, active:hover{
    color: red;
}
.nav ul li a:hover{
    color: red; 
}
.logo{
    background-color: bisque;
    margin-left: 20px;
}
.dropdown1{
    display: none;
}
.dropdown1 ul li{
    padding: 5px;
}
.nav ul li:hover .dropdown1 {
    display: block;
    position: absolute;
    background-color:burlywood;
    margin-top: 5px;
    margin-left: -10px;

}
.nav ul li:hover .dropdown1 ul{
    display: block;

}
.nav ul li:hover .dropdown1 ul li{
    color: black;
    background: transparent;
    border-bottom: 1px solid red;
}
.nav ul li a:hover .dropdown1 ul li a:hover{
    color: red;

}
.section1{
    height: 50px;
    background-color: #F4F4F2;
}
.section2{
    border: 2px solid blue;
    margin-top: 80px;
    height: 500px;
}
.section3{
    border: 2px solid green;
    margin-top: 35px;
    height: 200px;
}
.section4{
    border: 2px solid black;
    margin-top: 35px;
    height: 566px;
    background-color: #E8E8E8;;
}
.section5{
    border: 2px solid green;
    margin-top: 35px;
    height: 400px;
}
.section6{
    border: 2px solid green;
    margin-top: 35px;
    height: 1000px;
    text-align: center;
    text-decoration: underline;
}
.section7{
    border: 2px solid green;
    margin-top: 35px;
    height: 300px;
    
}
.section4 h1{
    text-align: center;
    font-family: Arial;
    text-decoration: underline;
    
}
.section4 p{
    text-align: center;
    font-size: medium;
    font-family: cursive;
}
.rectangle1{
    width: 20%;
    height: 81%;
    margin: 5px;
    margin-left: 125px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    
}
.rectangle2{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    text-align: center;
    justify-content: center;
    text-align: center;
   
}
.rectangle3{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    
}
.rectangle4{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    
}
.left{
    float: left;
    height: 100%;
    width: 48%;
    border:  2px solid violet;
    background-color: violet;
}
#right{
    width: 50%;
    height: 100%;
    float: right;
    border: 2px solid red;
    
}
.B1{
    height: 33%;
    border: 2px solid grey;
    padding: 64px;
}
#leftmenu{
    margin-top: 5%;
    float: left;
    height: 90%;
    width: 48%;
    border:  2px solid violet;
}
.left-menu{
    height: 18%;
    border: 2px solid grey;
    padding: 62px;
    margin: 35px;
}
#rightmenu{
    margin-top: 5%;
    float: left;
    height: 90%;
    width: 48%;
    border:  2px solid violet;
}
.right-menu{
    height: 18%;
    border: 2px solid grey;
    padding: 62px;
    margin: 35px;
}
.blog{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    margin-left: 56px;
    margin-top: 20px;
    
}
footer{
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color:#495464;
}