*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.wholepage{
    background-image: url(./image/fastfood.jpg);

}
*/
.nav{
    height: 100px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 100px;
}
.nav ul{
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 10px;
}
.nav ul li a{
    text-decoration: none;
    padding: 20px;
}
.nav ul li, active:hover{
    color: red;
}
.nav ul li a:hover{
    color: red; 
}
.logo{
    background-color: bisque;
    margin-left: 20px;
    overflow: hidden;
}
.dropdown1{
    display: none;
}
.dropdown1 ul li{
    padding: 5px;
}
.nav ul li:hover .dropdown1 {
    display: block;
    position: absolute;
    background-color:burlywood;
    margin-top: 5px;
    margin-left: -10px;

}
.nav ul li:hover .dropdown1 ul{
    display: block;

}
.nav ul li:hover .dropdown1 ul li{
    color: black;
    background: transparent;
    border-bottom: 1px solid red;
}
.nav ul li a:hover .dropdown1 ul li a:hover{
    color: red;

}
.section1{
    height: 50px;
    background-color: #F4F4F2;
}
.section2{
    
    margin-top: 80px;
    height: 500px;
}
.section3{
    
    margin-top: 35px;
    height: 500px;
    overflow: hidden;
}
.section3 figure{
    width: 500%;
    position: relative;
    left: 0;
    animation: 20s slider infinite;
}
.section3 figure img{
    width: 20%;
    float: left;
}
@keyframes slider {
    0%{
        left:0;
    }
    24%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    44%{
        left: -100%;
    }
    45%{
        left: -200%;
    }
    69%{
        left: -200%;
    }
    70%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

    
}
.section4{
    
    margin-top: 35px;
    height: 566px;
    background-color: #E8E8E8;;
}
.section5{
    
    margin-top: 35px;
    height: 400px;
    text-align: center;
}
.section6{
    
    margin-top: 35px;
    height: 1000px;
    text-align: center;
    text-decoration: underline;
}
.section7{
    
    margin-top: 35px;
    height: 300px;
    
}
.section4 h1{
    text-align: center;
    font-family: Arial;
    text-decoration: underline;
    
}
.section4 p{
    text-align: center;
    font-size: medium;
    font-family: cursive;
}

.rectangle1{
    width: 20%;
    height: 81%;
    margin: 5px;
    margin-left: 125px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    
}
.rectangle2{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    text-align: center;
    justify-content: center;
    text-align: center;
   
}
.rectangle3{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    
}
.rectangle4{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    
}
.left{
    float: left;
    height: 100%;
    width: 48%;
   
}
.section5 .left  img{
    width:99%;
}
#right{
    width: 50%;
    height: 100%;
    float: right;
    
    
}
.B1{
    height: 33%;
    border: 2px solid grey;
    padding: 64px;
}
#leftmenu{
    margin-top: 5%;
    float: left;
    height: 90%;
    width: 48%;
    border:  2px solid violet;
}
.left-menu{
    height: 18%;
    border: 2px solid grey;
    padding: 62px;
    margin: 35px;
}
#rightmenu{
    margin-top: 5%;
    float: left;
    height: 90%;
    width: 48%;
    border:  2px solid violet;
}
.right-menu{
    height: 18%;
    border: 2px solid grey;
    padding: 62px;
    margin: 35px;
}
.blog{
    width: 20%;
    height: 81%;
    margin: 5px;
    float: left;
    background-color:grey;
    justify-content: center;
    text-align: center;
    margin-left: 56px;
    margin-top: 20px;
    
}
.section2 img{
    height: 100%;
    width: 100%;
}
footer{
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color:#495464;
}
.menu{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
}
.menu2{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 175px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(255, 131, 30);
    color: white;
    transform: rotateY(180deg);
  }
  

  /*----------footer---------------*/
  footer{
    background-color: #26272b;
  }
  .sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sec1 h2{
    color: lightgray;
}
.about{
    width: 40%;  
}
.about h2{
    font-size: 24px;
    color:lightgray;
    text-transform:uppercase;
}
.about p{
    text-align: justify;
    color: grey;
    margin-top: 10px;

}
.sec1 ul{
    list-style: none;
}
.sec1 a{
    text-decoration: none;
    color: gray;
}
.sec1 a:hover{
    color: orange;
}
.sec1 i{
    color: gray;
    font-size: 20px; 
}
.copyright{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
}
.copyright p{
    color: grey;
    position: relative;
     
}
.copyright p::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -10px;
    background-color: yellow;
    transition: all .3s;
}
.copyright p:hover::after{
    width: 100% ;
}
  